Source: input-pad
Section: utils
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.alioth.debian.org>
Uploaders: Asias He <asias.hejun@gmail.com>, LI Daobing <lidaobing@debian.org>
DM-Upload-Allowed: yes
Build-Depends:
    autoconf,
    automake,
    autotools-dev,
    intltool (>= 0.40.0),
    libgtk2.0-dev,
    libxkbfile-dev,
    libxklavier-dev (>= 4.0),
    libxml2-dev (>= 2.0),
    libxtst-dev,
    libtool,
    python-support (>= 0.6),
    python-dev,
    swig,
    debhelper (>= 7.0.50)
Standards-Version: 3.9.2
Homepage: http://code.google.com/p/input-pad/
Vcs-Git: git://git.debian.org/pkg-ime/input-pad.git
Vcs-Browser: http://git.debian.org/?p=pkg-ime/input-pad.git

Package: input-pad
Architecture: any
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    libinput-pad1 (= ${binary:Version})
Description: On-screen Input Pad to Send Characters with Mouse
 The input pad is a tool to send a character to text applications when the
 corresponging button is pressed. It provides the GTK+ based GUI and can send
 characters when the GTK+ buttons are pressed.
 .
 This package contains a standalone application.

Package: libinput-pad1
Section: libs
Architecture: any
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
Replaces: libinput-pad0
Conflicts: libinput-pad0
Enhances: libinput-pad-xtest
Description: On-screen Input Pad to Send Characters with Mouse - libs
 The input pad is a tool to send a character to text applications when the
 corresponging button is pressed. It provides the GTK+ based GUI and can send
 characters when the GTK+ buttons are pressed.
 .
 This package contains libraries for other applications.

Package: libinput-pad-dev
Section: libdevel
Architecture: any
Depends:
    ${misc:Depends},
    libinput-pad1 (= ${binary:Version}),
    libglib2.0-dev,
    libgtk2.0-dev
Suggests: libinput-pad-xtest
Description: On-screen Input Pad to Send Characters with Mouse - dev
 The input pad is a tool to send a character to text applications when the
 corresponging button is pressed. It provides the GTK+ based GUI and can send
 characters when the GTK+ buttons are pressed.
 .
 This package contains the header files.

Package: python-input-pad
Section: python
Architecture: any
Depends:
    ${misc:Depends},
    ${python:Depends},
    ${shlibs:Depends},
    libinput-pad1 (= ${binary:Version})
Provides: ${python:Provides}
XS-Python-Version: >= 2.6
XB-Python-Version: ${python:Versions}
Description: On-screen Input Pad to Send Characters with Mouse - python
 The input pad is a tool to send a character to text applications when the
 corresponging button is pressed. It provides the GTK+ based GUI and can send
 characters when the GTK+ buttons are pressed.
 .
 This package contains the Python binding of input-pad.

Package: libinput-pad-xtest
Section: libs
Architecture: any
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    libinput-pad1 (= ${binary:Version}),
Description: On-screen Input Pad to Send Characters with Mouse - xtest
 The input pad is a tool to send a character to text applications when the
 corresponging button is pressed. It provides the GTK+ based GUI and can send
 characters when the GTK+ buttons are pressed.
 .
 This package contains the XTEST module for input-pad.
